body{
background:linear-gradient(120deg,#020617,#041820,#071b24);
color:white;
font-family:Inter;
}

.glass{
background:rgba(255,255,255,.06);
backdrop-filter:blur(14px);
border-radius:20px;
padding:20px;
}
